////////////////////
// Default Styles //
////////////////////

.button {
	display: inline-block;
	// font-family: $helvetica-neue-bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	font-size: $size-minor;
	padding: 1rem 1.75rem;

	&--black {
		background-color: $black;
		color: $white;
	}

	&--full-width {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	&--large {
		padding-top: 1.75rem;
		padding-bottom: 1.75rem;
		font-size: $size-base;
	}
}

.btn,
.btn a,
.btn-info,
.btn-primary {
  padding: 4px 16px;
  background: #1e418f;
  font-size: 12px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  height: 24px;
  box-shadow: none !important;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
  line-height: 12px;
}
.sold-out {
  background: #c1c1c1;
  line-height: 18px;
}
.sold-out:hover {
  background: #c1c1c1 !important;
}
.btn-info:focus,
.btn-info:hover,
.btn-primary:focus,
.btn-primary:hover,
.btn:focus,
.btn:focus a,
.btn:hover,
.btn:hover a {
  background: #00b4e6;
  border: none;
}

.single-product-btn,
input.single-product-btn[type="submit"] {
  font-size: 16px;
  height: 44px;
  padding-top: 7px;
  float: right;
  margin: 0 0 0 12px;
  border: 1px solid #444444;
  color: #000;
  text-transform: none;
  background: #f7de9e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7de9e 0%, #f0c252 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de9e), color-stop(100%,#f0c252));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7de9e 0%,#f0c252 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7de9e 0%,#f0c252 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7de9e 0%,#f0c252 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7de9e 0%,#f0c252 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f7de9e', endColorstr='#f0c252',GradientType=0 );
  /* IE6-9 */
}
input.single-product-btn[type="submit"] {
  font-size: 18px;
}
.single-product-btn:hover,
input.single-product-btn[type="submit"]:hover {
  border: 1px solid #444444;
  color: #000;
  background: #f7de9e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7de9e 0%, #f0c252 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de9e), color-stop(100%,#f0c252));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7de9e 0%,#f0c252 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7de9e 0%,#f0c252 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7de9e 0%,#f0c252 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7de9e 0%,#f0c252 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#f7de9e', endColorstr='#f0c252',GradientType=0 );
  /* IE6-9 */
}
.yellow-btn {
  background: #fdfb4f;
  color: #1e418f;
  font-size: 16px;
  padding: 6px 20px;
}
.yellow-btn:hover {
  background: #1e418f;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}



////////////////////
// Breakpoints    //
////////////////////
