////////////////////
// Default Styles //
////////////////////
.template-collection {
	.product_name {
		a, a:-webkit-any-link {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: #00b4e6;
			}
		}
	}
}

////////////////////
// Breakpoints    //
////////////////////

